<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1>
                <a href="{{ path('wineadministration_webinterface_showwineadministration') }}">Weinverwaltung</a>
            </h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li{% if activeMenu == 'wine' %} class="active"{% endif %}>
                <a href="{{ path('wineadministration_webinterface_showwine', {'searchCriteria': null}) }}">Wein verwalten</a>
            </li>
            <li{% if activeMenu == 'client' %} class="active"{% endif %}>
                <a href="{{ path('wineadministration_webinterface_showclient', {'searchCriteria': null}) }}">Kunden verwalten</a>
            </li>
            <li{% if activeMenu == 'order' %} class="active"{% endif %}>
                <a href="{{ path('wineadministration_webinterface_showorder', {'searchCriteria': null}) }}">Bestellung verwalten</a>
            </li>
        </ul>
    </section>
</nav>
