        <h1><a href="{{ path('wineadministration_webinterface_showwineadministration') }}">Weinverwaltung</a></h1>
        <p>
            <a href="{{ path('wineadministration_webinterface_showclient', {'searchCriteria': null}) }}">Kunden verwalten</a>
            <a href="{{ path('wineadministration_webinterface_showwine', {'searchCriteria': null}) }}">Wein verwalten</a>
            <a href="{{ path('wineadministration_webinterface_showorder', {'searchCriteria': null}) }}">Bestellung verwalten</a>
        </p>
