{% extends 'WineAdministrationBundle:Default:defaultLayout.html.twig' %}
{% block title %}Weinverwaltung - Überblick{% endblock %}
{% block body %}
{% include 'WineAdministrationBundle:Default:navigation.html.twig' with {'activeMenu': 'main'} %}
<div class="row">
    <div class="row">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ligula leo, consectetur commodo volutpat sed, rutrum eu tortor. Vivamus eget nunc rhoncus, tincidunt massa vel, ornare mauris. Vestibulum eu massa arcu. Maecenas at tellus nunc. Sed et turpis tortor. Nunc mattis tortor ac eros feugiat, eu pharetra nibh placerat. Cras blandit neque at accumsan feugiat. Duis ultrices tortor vitae neque aliquet, id egestas neque maximus. Etiam quam sem, dapibus ac turpis eget, auctor malesuada leo. Nullam varius libero eu arcu interdum, mollis ultricies sem consectetur. Nunc urna sem, fringilla quis tincidunt id, fermentum in purus. Curabitur dolor ante, ultrices accumsan turpis quis, malesuada varius mauris. Aliquam a volutpat orci.
    </div>
    <br>
    <div class="row">
Pellentesque maximus nulla purus, vel lobortis mi aliquet sed. In quam eros, placerat nec fringilla non, vehicula ut urna. Ut a velit ut est sagittis euismod eget non tellus. Curabitur nec nisl ex. Vestibulum diam neque, efficitur et auctor at, faucibus a velit. Praesent posuere, dui malesuada feugiat blandit, metus quam pulvinar orci, at hendrerit augue mi ac orci. Suspendisse at purus quis metus feugiat cursus. Etiam sit amet tortor sed magna cursus aliquet. Duis vitae risus aliquet, commodo lectus nec, ultrices neque. Cras diam neque, lobortis eu elit rhoncus, maximus pellentesque eros. Proin turpis felis, egestas vel justo eget, consequat ultricies lacus. In luctus dui sit amet purus ultricies, eget eleifend dui aliquam. Praesent sit amet vulputate dolor. Vestibulum mattis ipsum et risus bibendum malesuada.
    </div>
</div>
{% endblock %}